@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Gorditas', cursive;
 font-family: 'Inter', sans-serif;
 font-family: 'Jost', sans-serif;
}

:root {
  --animate-duration: 300ms;
  --animate-delay: 0.9s;
}


.v-select .vs__dropdown-toggle {
  border: none;
}

.v-select .vs__dropdown-toggle .vs__search::placeholder{
  color: #667085;
}


.v-select  #vs1__listbox{
  box-shadow: 0px 10px 24px 0px rgba(33, 35, 37, 0.08);
  border: none;
}

.v-select .vs__dropdown-option.vs__dropdown-option--highlight{
  background-color: #20E682;
  color: #fff;
}

.v-select .vs__open-indicator {
  display: none;
}

.v-select .vs__actions{
  transform: translateX(-13px);
}



.dp__calendar_row .dp__calendar_item .dp__today{
  border: 1px solid #20E682;
}
.dp__calendar_row .dp__calendar_item .dp__active_date{
  background: #20E682;
  color: #fff;
}

.dp__action_buttons .dp__action_select {
  background: #20E682;
  color: #fff;
}

.dp__action_buttons .dp__action_select:hover{
  background: #20E682;
  color: #fff;
}
.dp__action_buttons .dp__action_cancel {
  border: 1px solid #20E682;
}

.dp__action_buttons .dp__action_cancel:hover{
  background: #20E682;
  border: 1px solid #20E682;
  color: #fff;
}

.dp__icon.dp__input_icon.dp__input_icons{
  display: none;
}

.dp__input_wrap input::placeholder{
  color: #667085;
  font-family: Inter;
  font-size: 16px; 
}


.dp__main .dp__input{
  border:none;
  outline: none;
}

.dp__instance_calendar.dp__menu_inner{
  position: relative;
  z-index: 9999999;
}